@import "tailwindcss";

/* star-rating-hover-color */
.active{
    color: #fff700;
}
.inactive{
    color: #000;
}
/* star-rating-hover-color end */

/* slide-image-start */
.current-image{
    border-radius: 0.5rem;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 7px #666;
}
.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    fill: drop-shadow(0px 0px 5px #555);
    cursor: pointer;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
.circle-indicators{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.current-idicator{
    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 0.2rem;
}
.hide-current-image{
    display: none;
}
.inactive-idicator{
    background-color: gray;
}
/* slide-image-end */

/* .light-dark-mode-start */
:root{
    ---background:#ffffff;
    ---text-primary:#000;
    ---button-bg:#000;
    ---button-text:#ffffff;
}
[data-theme="dark"]{
    ---background:#000;
    ---text-primary:#ffffff;
    ---button-bg:#ffffff;
    ---button-text:#000;
}
.light-dark-mode{
    background-color: var(---background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
    transition: all 0.5s;
}
.light-dark-mode p{
    color: var(---text-primary);
    font-size: 40px;
}
.light-dark-mode button{
    background-color: var(---button-bg);
    color: var(---button-text);
}
/* .light-dark-mode-end */


.tab-item{
    display: inline-flex;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border:none;
    color: #fff;
    background: #4e016a;
}
.tab-item.active{
    border-color: #000;
    background-color: #a1d600;
    color: #fff;
}